.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_main.bbl
_main.blg
_main.run.xml
_todo.md
_bookdown_files
_book
_main.maf
_main.mlf*
_main.mtc*
text/*.tex
text/*.aux
*.mlt*
_main.*
.httr-oauth
repos/EvoEgoBias/
repos/ExploringSocialMetacognition/
repos/nofeedback_trust/
[0-9][0-9]-[0-9][0-9]-*
![0-9][0-9]-[0-9][0-9]-*.Rmd
_[0-9][0-9]-[0-9][0-9]-*
!_[0-9][0-9]-[0-9][0-9]-*.Rmd
_cache/*
cache/*